h1
    67 Burger

h4 FORT GREENE, BROOKLYN
p.
a(href="#{ locations.ft_greene.google_maps_url }").
    #{ locations.ft_greene.address }
p.
    Phone #{ locations.ft_greene.phone } / Fax #{ locations.ft_greene.fax }

h4 PARK SLOPE, BROOKLYN
p.
a(href="#{ locations.park_slope.google_maps_url }").
    #{ locations.park_slope.address }
p.
    Phone #{ locations.park_slope.phone } / Fax #{ locations.park_slope.fax }
