.container
    .twelve.columns
      #carousel.twelve.columns
        div
          img.scale-with-grid(src="/images/heroshot.png" alt="Something for Everyone | 67 Burger")
        div
          img.scale-with-grid(src="/images/baconshake.png" alt="Bacon Shake | 67 Burger")
        div
          img.scale-with-grid(src="/images/bbqchicken.png" alt="BBQ Chicken Salad | 67 Burger")
        div
          img.scale-with-grid(src="/images/burger.png" alt="Burger | 67 Burger")
        div
          img.scale-with-grid(src="/images/beertaps.png" alt="Draft Beer | 67 Burger")
        div
          img.scale-with-grid(src="/images/chickensalad.png" alt="Chicken Salad | 67 Burger")
        div
          img.scale-with-grid(src="/images/tofu.png" alt="Tofu Burger | 67 Burger")
        div
          img.scale-with-grid(src="/images/fries.png" alt="Fries | 67 Burger")
        div
          img.scale-with-grid(src="/images/veggie.png" alt="Veggie Burger | 67 Burger")
        div
          img.scale-with-grid(src="/images/sodas.png" alt="Soda | 67 Burger")
        div
          img.scale-with-grid(src="/images/shreddedonion.png" alt="Shredded Onion Topping | 67 Burger")
      #specials.row.twelve.columns
        .special.four.columns.alpha
          img.scale-with-grid(src="/images/delivery.png" alt="Now offering delivery")
        .special.four.columns
          img.scale-with-grid(src="/images/birthday.png" alt="Host your birthday party")
        .special.four.columns.omega
          img.scale-with-grid(src="/images/giftcard.png" alt="Give the gift of yum")
      img.twelve.columns.scale-with-grid(src="/images/draftbeers.png" alt="$3 Draft Beers")
    #home-locations.three.columns
      #order
        a.order(href="#") Order Online
      .address.greene
        h4.hide-text FORT GREENE
          a(href="/locations.html")
            img.scale-with-grid.four.columns(src="/images/fortgreene_300.png")
        a(href="#{ locations.ft_greene.google_maps_url }" target="_blank").
          #{ locations.ft_greene.street_address }
        a(href="#{ locations.ft_greene.google_maps_url }" target="_blank").
          #{ locations.ft_greene.state_address }
        p #{ locations.ft_greene.phone }
      .address.slope
        h4.hide-text PARK SLOPE
          a(href="/locations.html")
            img.scale-with-grid.four.columns(src="/images/parkslope_300.png")
        a(href="#{ locations.park_slope.google_maps_url }" target="_blank").
          #{ locations.park_slope.street_address }
        a(href="#{ locations.park_slope.google_maps_url }" target="_blank").
          #{ locations.park_slope.state_address }
        p #{ locations.park_slope.phone }
      #hours
        h6 Open 7 days a week
        p.time #{ hours1 }
        p.days Sunday-Thursday
        p.time #{ hours2 }
        p.days Friday-Saturday
