.container
    .twelve.columns
      #carousel.eleven.columns
      .three.columns.special
      .three.columns.special
      .three.columns.special
    .four.columns
      #order
        a.order(href="#") Order Online
      .address.greene
        h4 FORT GREENE
        a(href="#{ locations.ft_greene.google_maps_url }").
          #{ locations.ft_greene.address }
        p #{ locations.ft_greene.phone }
      .address.slope
        h4 PARK SLOPE
        a(href="#{ locations.park_slope.google_maps_url }").
          #{ locations.park_slope.address }
        p #{ locations.park_slope.phone }
        a.delivery(href="locations.html") Delivery Zone
      .zagat
