.container
    .twelve.columns
      #carousel.twelve.columns
      #specials.row
        .four.columns.special
        .four.columns.special
        .four.columns.special
    .three.columns.offset-by-one
      #order
        a.order(href="#") Order Online
      .address.greene
        h4 FORT GREENE
        a(href="#{ locations.ft_greene.google_maps_url }" target="_blank").
          #{ locations.ft_greene.street_address }
        a(href="#{ locations.ft_greene.google_maps_url }" target="_blank").
          #{ locations.ft_greene.state_address }
        p #{ locations.ft_greene.phone }
      .address.slope
        h4 PARK SLOPE
        a(href="#{ locations.park_slope.google_maps_url }" target="_blank").
          #{ locations.park_slope.street_address }
        a(href="#{ locations.park_slope.google_maps_url }" target="_blank").
          #{ locations.park_slope.state_address }
        p #{ locations.park_slope.phone }
      //.zagat
