.container
    .twelve.columns
      #carousel.twelve.columns
        img(src="/images/burger.png")
    .three.columns.offset-by-one
      #order
        a.order(href="#") Order Online
      .address.greene
        h4 FORT GREENE
        a(href="#{ locations.ft_greene.google_maps_url }" target="_blank").
          #{ locations.ft_greene.street_address }
        a(href="#{ locations.ft_greene.google_maps_url }" target="_blank").
          #{ locations.ft_greene.state_address }
        p #{ locations.ft_greene.phone }
      .address.slope
        h4 PARK SLOPE
        a(href="#{ locations.park_slope.google_maps_url }" target="_blank").
          #{ locations.park_slope.street_address }
        a(href="#{ locations.park_slope.google_maps_url }" target="_blank").
          #{ locations.park_slope.state_address }
        p #{ locations.park_slope.phone }
      #hours
        h6 Open 7 days a week
        p.time #{ hours1 }
        p.days Sunday-Thursday
        p.time #{ hours2 }
        p.days Friday-Saturday
