.container
    .seven.columns
      .address.locations
        h4 FORT GREENE
        a(href="#{ locations.ft_greene.google_maps_url }" target="_blank").
          #{ locations.ft_greene.street_address }
        a(href="#{ locations.ft_greene.google_maps_url }" target="_blank").
          #{ locations.ft_greene.state_address }
        p #{ locations.ft_greene.phone }
      .map
        iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d24203.185600670426!2d-73.\
975817!3d40.687227!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x9935351e020796fe!2s67Burger!5e\
0!3m2!1sen!2sus!4v1404955159662"
               width="400"
               height="400"
               frameborder="0"
               style="border:0")
      .directions
        h5 SUBWAY
        p Fulton G / Lafayette C
        p Barclay's Atlantic Center M, B, D, 4-5, N, Q, R, 2-3
        a(href="https://www.hopstop.com/route?city=newyork&county2=36047&address2=67%20Lafayette%20Ave.&mode=s&iid=5oy1drcmr3zv2ayg" target="_blank") Hopstop
    #right-location.seven.columns.offset-by-one
      .address.locations
        h4 PARK SLOPE
        a(href="#{ locations.park_slope.google_maps_url }" target="_blank").
          #{ locations.park_slope.street_address }
        a(href="#{ locations.park_slope.google_maps_url }" target="_blank").
          #{ locations.park_slope.state_address }
        p #{ locations.park_slope.phone }
      .map
        iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12102.831155839!2d-73.9750\
81!3d40.680407!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x59e4afcd69c41cc7!2s67Burger!5e0!3m2!1sen!2\
sus!4v1404956122643"
               width="400"
               height="400"
               frameborder="0"
               style="border:0")
      .directions
        h5 SUBWAY
        p Bergen 2-3 / 7th Ave B, Q
        p Barclay's Atlantic Center D, 4-5-6, N, R
        a(href="https://www.hopstop.com/route?city=newyork&county2=36047&address2=234%20Flatbush%20Ave.&mode=s&iid=5oy1drcmr3zv2ayg" target="_blank") Hopstop
    #delivery-restrictions.sixteen.columns
      h5 Delivery offered for Park Slope location only
