.container
  .row
    .four.columns.press
      img.press-pic.scale-with-grid(src="/images/1cbs.png" alt="CBS review")
      a.four.columns(href="http://newyork.cbslocal.com/top-lists/nycs-7-best-healthy-plates-under-600-calories/"
        target="_blank") CBS New York
      p.four.columns 2013
    .four.columns.press
      img.press-pic.scale-with-grid(src="/images/2thereader.png" alt="The Reader review")
      a.four.columns(href="http://www.psreader.com/issue/42/new-wave/new-kids-on-the-block/"
        target="_blank") Park Slope Reader
      p.four.columns 2012
    .four.columns.press
      img.press-pic.scale-with-grid(src="/images/3devour.png" alt="Devour review")
      a.four.columns(href="http://www.devourthecity.com/2012/10/67-burger.html"
        target="_blank") Devour
      p.four.columns 2012
    .four.columns.press
      img.press-pic.scale-with-grid(src="/images/4brooklynpaper.png" alt="Brooklyn Paper review")
      a.four.columns(href="http://www.brooklynpaper.com/stories/35/10/all_burgerproliferation_2012_03_09_bk.html"
        target="_blank") Brooklyn Paper
      p.four.columns 2012
  .row
    .four.columns.press
      img.press-pic.scale-with-grid(src="/images/5nymenugirl.png" alt="NYC Menu Girl review")
      a.four.columns(href="http://www.thenycmenugirl.com/2012/09/revisiting-again-67-burger.html"
        target="_blank") NYC Menu Girl
      p.four.columns 2012
    .four.columns.press
      img.press-pic.scale-with-grid(src="/images/6brooklynbounty.png" alt="Brooklyn Bounty review")
      a.four.columns(href="http://brooklynbounty.org/2012/10/03/67burger-a-better-brooklyn-burger/"
        target="_blank") Brooklyn Bounty
      p.four.columns 2012
    .four.columns.press
      img.press-pic.scale-with-grid(src="/images/7thelocal.png" alt="The Local review")
      a.four.columns(href="http://fort-greene.thelocal.nytimes.com/2012/03/28/everything-in-this-picture\
-%E2%80%94-for-20/"
        target="_blank") The Local
      p.four.columns 2012
    .four.columns.press
      img.press-pic.scale-with-grid(src="/images/8zagat.png" alt="Zagat review")
      a.four.columns(href="/press.html"
        target="_blank") Zagat
      p.four.columns 2011
  .row
    .four.columns.press
      img.press-pic.scale-with-grid(src="/images/9burgerconquest.png" alt="Burger Conquest review")
      a.four.columns(href="http://burgerconquest.com/2011/05/31/4-boro-bike-and-burger-tour-national-\
hamburger-month/"
        target="_blank") Burger Conquest
      p.four.columns 2011
    .four.columns.press
      img.press-pic.scale-with-grid(src="/images/10grubstreet.png" alt="Grub Street review")
      a.four.columns(href="http://www.grubstreet.com/2009/07/the_burger_register_new_yorks_82_most_notable_\
burgers.html#photo=2"
        target="_blank") Grub Street
      p.four.columns 2009
    .four.columns.press
      img.press-pic.scale-with-grid(src="/images/11thelocal.png" alt="The Local review")
      a.four.columns(href="http://fort-greene.thelocal.nytimes.com/2009/04/22/oral-fixation-beer-and-ice-cream-\
really/?scp=1&sq=67%2520burger%2520shake&st=cse"
        target="_blank") The Local
      p.four.columns 2009
    .four.columns.press
      img.press-pic.scale-with-grid(src="/images/12zagat.png" alt="Zagat review")
      a.four.columns(href="/press.html"
        target="_blank") Zagat
      p.four.columns 2009
  .row
    .four.columns.press
      img.press-pic.scale-with-grid(src="/images/13nymag.png" alt="New York Magazine review")
      a.four.columns(href="http://nymag.com/listings/restaurant/67-burger/"
        target="_blank") New York Magazine
      p.four.columns 2009
    .four.columns.press
      img.press-pic.scale-with-grid(src="/images/14nytimes.png" alt="NY Times review")
      a.four.columns(href="http://events.nytimes.com/2008/09/03/dining/reviews/03under.html?scp=16&sq=burger&st\
=cse&_r=0"
        target="_blank") The New York Times
      p.four.columns 2008
    .four.columns.press
      img.press-pic.scale-with-grid(src="/images/15timeout.png" alt="TimeOut review")
      a.four.columns(href="http://www.timeout.com/newyork/eating-drinking/life-of-the-patty"
        target="_blank") TimeOut
      p.four.columns 2008
    .four.columns.press
      img.press-pic.scale-with-grid(src="/images/16zagat.png" alt="Zagat review")
      a.four.columns(href="/press.html"
        target="_blank") Zagat
      p.four.columns 2008
  .row
    .four.columns.press
      img.press-pic.scale-with-grid(src="/images/17ahamburgertoday.png" alt="Serious Eats review")
      a.four.columns(href="http://aht.seriouseats.com/archives/2008/05/67-burger-fort-greene-brooklyn-new-york-\
city-nyc.html"
        target="_blank") Serious Eats
      p.four.columns 2008
    .four.columns.press
      img.press-pic.scale-with-grid(src="/images/18hamburgeramerica.png" alt="Hamburger America review")
      a.four.columns(href="http://hamburgeramerica.blogspot.com/2008/03/finally-made-it-to-67-burger.html"
        target="_blank") Hamburger America
      p.four.columns 2008
    .four.columns.press
      img.press-pic.scale-with-grid(src="/images/19thevillagevoice.png" alt="Village Voice review")
      a.four.columns(href="http://www.villagevoice.com/2007-01-30/restaurants/beefin-burgers/"
        target="_blank") The Village Voice
      p.four.columns 2007
    .four.columns.press
      img.press-pic.scale-with-grid(src="/images/20nysun.png" alt="NY Sun review")
      a.four.columns(href="http://www.nysun.com/food-drink/battle-of-the-burgers/47326/"
        target="_blank") NY Sun
      p.four.columns 2007
